<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Рай Футболок - магазин для всех возрастов</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <nav class="nav__login">
            <h4>Добро пожаловать, {{#if user}}{{user}}{{else}}посетитель нашего сайта{{/if}}!</h4>
            <ul>
                <li><a href="/">На главную</a></li>|
                {{#unless user}}<li><a href="/login">Войти</a></li>{{else}}<li><a href="/logout">Выйти</a></li>{{/unless}}
                {{#unless user}}|<li><a href="/register">Зарегистрироваться</a></li>{{/unless}}
            </ul>
        </nav>

        <div class="nav__logo">
            <a href="/"><img src="/images/logo.png" alt="TShirts Heaven"></a>
            <div></div>
            <div></div>
        </div>

        <nav class="nav__pages">
            <ul>
                <li><a href="/products">Каталог</a></li>
                <li><a href="/profile">Мой профиль</a></li>
                <li><a href="/cart">Корзина</a></li>
                <li><a href="/orders">Заказы</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="categories">
        <div class="categories__item"><div class="categories__caption">Женские</div><a href="/"><img src="/images/Woman.png" alt="Женские"></a></div>
        <div class="categories__item"><div class="categories__caption">Мужские</div><a href="/"><img src="/images/man.png" alt="Мужские"></a></div>
        <div class="categories__item"><div class="categories__caption">Детские</div><a href="/"><img src="/images/kids.png" alt="Унисекс"></a></div>
        <div class="categories__item"><div class="categories__caption">Унисекс</div><a href="/"><img src="/images/sweet.png" alt="Детские"></a></div>
    </section>

    <section class="info">
        «Рай Футболок» – это интернет-магазин стильных, индивидуальных и практичных футболок, 
        созданных профессиональными дизайнерами для людей различных возрастов и социальных слоев. 
        Не имеет никакого значения: стар вы или млад, студент или бизнесмен, парень или девушка. 
        Если вы хотите иметь стильную футболку, выделяющуюся в толпе – мы поможем вам воплотить данное желание в реальность. 
        Вашему вниманию предлагается сотни вариантов футболок различных моделей с самыми разнообразными сюжетами. Для удобства все они собраны в единый каталог футболок, который имеет множество продуманных подкатегорий. 
        Таким образом, нашим клиентам не придется тратить время на изучение не интересующих их вариантов. Открыв нужный подраздел, вы сможете выбирать футболку по принту исключительно нужной тематики. 
        Наш интернет магазин футболок предлагает также регланы, сумки, значки, керамические кружки и аксессуары, с нанесенными на них аналогичными принтами. Печать на футболках и вся продукция магазина отвечает действующим стандартам качества. 
        Вся наша продукция проходит специальный контроль качества, мы доставим вам покупку в самые короткие сроки (заказать футболку или кружку с принтом можно в любую точку Украины). Также в нашем магазине вы можете заказать футболку с Вашим индивидуальным дизайном, изготовленным по вашему эскизу. Для этого мы предоставляем уникальный конструктор с интуитивно-понятным интерфейсом, который позволит разработать футболку вашей мечты. Печать на футболка - это просто. Напечатать фото на футболке очень просто, достаточно загрузить фото на сайт и получить готовую и модную футболку с доставкой по Украине. 
        Печать на кружках и печать на футболках осуществляется на самом современном оборудовании. 
        Интернет магазин футболок - это воплощение фантазий в реальность. 
        Футболки – неотъемлемый атрибут гардероба практически каждого человека.
        Они сочетают в себе удобство и практичность. 
    </section>

    <footer class="footer">
        @TShirtsHeaven - All Rights Reserved.
    </footer>
</body>
</html>