<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
     <header class="header">
        <nav class="nav__login">
            <h4>Добро пожаловать, посетитель нашего сайта!</h4>
            <ul>
                <li><a href="/">На главную</a></li>|
                <li><a href="/login">Войти</a></li>
            </ul>
        </nav>
    </header>

    <section class="container">
        <div class="login">
            <div class="login__form">
                <form action="/auth/register" method="POST">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter yor name">
                    </div>

                    <div class="form-group">
                        <label for="phone">Номер телефона</label>
                        <input type="phone" class="form-control" id="phone" name="phone" placeholder="1234567890">
                    </div>

                    <div class="form-group">
                        <label for="email">Электронная почта</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@test.com">
                    </div>

                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="123456">
                    </div>

                    <div class="form-group">
                        <label for="passwordConfirm">Подтвердите пароль</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="123456">
                    </div>
                    
                    <button type="submit" class="button button-submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>

        {{#if message}}
        <h4 class="login__caption">{{message}}</h4>
        {{/if}}
    </section>

    <footer class="footer">
        @TShirtsHeaven - All Rights Reserved.
    </footer>
</body>
</html>